<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <ul class="list-group list-group-flush">
                    <a href="/mysettings" class="list-group-item list-group-item-action">Manage Account</a>
                    <a href="/mytrips" class="list-group-item list-group-item-action">Bookings & Trips</a>
                    <a href="/myreviews" class="list-group-item list-group-item-action">Reviews</a>
                    <a href="/mywishlist" class="list-group-item list-group-item-action active"
                        aria-current="true">Saved</a>
                </ul>
            </div>

            <div class="card mb-3 col-md-6">
                <div class="card-body">
                    <h1 class="card-title">
                        Saved
                    </h1>
                    <p class="card-text">
                        Small description
                    </p>
                </div>
            </div>
        </div>
    </body>