<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <h1 class="text-center">Saved</h1>

            <div class="col-md-3 offset-md-1">
                <ul class="list-group list-group-flush">
                    <a href="/mysettings" class="list-group-item list-group-item-action">Manage Account</a>
                    <a href="/mytrips" class="list-group-item list-group-item-action">Bookings & Trips</a>
                    <a href="/myreviews" class="list-group-item list-group-item-action">Reviews</a>
                    <a href="/mywishlist" class="list-group-item list-group-item-action active"
                        aria-current="true">Saved</a>
                </ul>
            </div>

            <div class="col-md-6 ">
                <form action="/campgrounds" method="POST" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="campground[title]" id="title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>

                </form>
                <footer><a href="/campgrounds">Back</a></footer>
            </div>
        </div>
    </body>